<div layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">
        <div class="navigation-toggle" hide-gt-sm>
            <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()" aria-label="Toggle Mobile Navigation">
                <md-icon md-font-icon="icon-menu"></md-icon>
            </md-button>
        </div>

        <div class="logo" layout="row" layout-align="start center">
            <span class="logo-image">EF</span>
            <span class="logo-text">AdminPanel</span>
        </div>

        <md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress" class="md-accent" md-mode="indeterminate" md-diameter="64">
        </md-progress-circular>
    </div>

    <div layout="row" layout-align="start center">

        <ms-search-bar on-search="vm.search(query)" on-result-click="vm.searchResultClick(item)" debounce="1000"></ms-search-bar>


        <md-menu id="language-menu" md-offset="0 72" md-position-mode="target-right target">
            <md-button class="language-button" ng-click="$mdOpenMenu()" aria-label="Language" md-menu-origin md-menu-align-target>
                <div layout="row" layout-align="center center">
                    <img class="flag" ng-src="/efadminpanel/assets1/images/flags/{{vm.selectedLanguage.flag}}.png">
                    <span class="iso">{{vm.selectedLanguage.code}}</span>
                </div>
            </md-button>

            <md-menu-content width="3" id="language-menu-content">
                <md-menu-item ng-repeat="(iso, lang) in vm.languages">
                    <md-button ng-click="vm.changeLanguage(lang)" aria-label="{{lang.title}}" translate translate-attr-aria-label="{{lang.title}}">
                        <span layout="row" layout-align="start center">
                            <img class="flag" ng-src="/efadminpanel/assets1/images/flags/{{lang.flag}}.png">
                            <span translate="{{lang.translation}}">{{lang.title}}</span>
                        </span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-button id="quick-panel-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('quick-panel')" ps-x-reach-end="console.log('fdaf')" aria-label="Toggle quick panel" translate translate-attr-aria-label="TOOLBAR.TOGGLE_QUICK_PANEL">
            <md-icon md-font-icon="icon-format-list-bulleted" class="icon"></md-icon>
        </md-button>
    </div>
</div>