<div id="campaign">

  <md-toolbar class="md-accent md-hue-2 md-default-theme">
    <div layout-align="space-between center" layout="row" class="md-toolbar-tools">
      <span class="title">{{vm.createFormOr == 'edit'?'generic.update':'generic.create'|translate}}</span>
        <span>
        <button type="button" class="md-icon-button md-button md-ink-ripple" ng-show="vm.createFormOr==='edit'" ng-click="vm.deleteCampaign(vm.selected.id)" aria-label="Delete"><md-icon md-font-icon="icon-delete" class="md-font icon-delete material-icons"></md-icon><md-tooltip><span translate="generic.delete"></span></md-tooltip></button>
        <button type="button" class="md-icon-button md-button md-ink-ripple" ng-click="vm.saveCampaign(vm.selected)" aria-label="Save"><md-icon md-font-icon="icon-check" class="md-font material-icons"></md-icon><md-tooltip><span translate="generic.save"></span></md-tooltip></button>
        <button type="button" class="md-icon-button md-button md-ink-ripple"  ng-click="vm.selected=undefined" aria-label="Close dialog"><md-icon md-font-icon="icon-close" class="ng-scope ng-isolate-scope md-font icon-close material-icons" aria-hidden="true"></md-icon><md-tooltip><span translate="generic.close"></span></md-tooltip></button>
        </span>
    </div>
  </md-toolbar>
  <!-- / SIDENAV HEADER -->

  <!-- SIDENAV CONTENT -->
	<md-content class="content app-detail">
		<div class="file-details">
      		<form  name="createForm" class="md-inline-form" >

                <div layout="row" class="date-row" layout-padding>

                  <div flex="35">
                    <md-input-container class="md-block">kamran
                      <label for="" translate="generic.name"></label>
                      <input type="text" name="name" min="1"
                             autocomplete="off" ng-model-options="{ debounce: 250 }" ng-pattern="/^[a-zA-Z0-9_]{3,30}$/" name-local-validate
                             list-element="{{vm.campaigns}}" max-length="3" property="campaignExist"  object-key="name"
                             ng-disabled="vm.createFormOr=='edit'" ng-model="vm.selected.name"
                             placeholder="{{'generic.name'|translate}}"
                             required>
                      <div ng-messages="createForm.name.$error" ng-show="createForm.name.$dirty"
                           role="alert">
                        <div ng-message="required">
                          <span translate="data.cannot_null" translate-values="{name:'{{'generic.name'|translate}}'}"> </span>
                        </div>
                        <div ng-show="!createForm.name.$valid && nameExist">
                          <span translate="data.charSize" translate-values="{field:'{{'generic.name'|translate}}',number:3}"></span>
                        </div>
                        <div ng-message="pattern">
                          <span translate="data.specialChar" translate-values="{field:'{{'generic.name'|translate}}'}"></span>
                        </div>
                      </div>
                    </md-input-container>
                  </div>

                  <div flex="5"></div>

                  <div flex="10">
                    <label for="" translate="generic.status"></label>
                    <md-switch ng-model="vm.selected.enabled"  aria-label="status"></md-switch>
                  </div>

                  <div flex="50" class="en-app" ng-if="vm.ciscoType==0">

                    <md-input-container class="md-block">
                      <label translate="campaign.campaignType.campaignType"></label>
                      <md-select  ng-disabled="vm.createFormOr=='edit'" name="type" required="" ng-model="vm.selected.type"
                                  md-on-close="vm.changeCampaignType(vm.selected.type)"
                                 placeholder="{{'generic.selectOneLabel'|translate:{name:vm.translationData.campaignType} }}" >
                        <md-option ng-value="campaignType.id" ng-repeat="campaignType in vm.campaignTypes">{{campaignType.translationV|translate}}</md-option>
                      </md-select>
                      <div ng-messages="createForm.type.$error" ng-show="createForm.type.$touched"
                           role="alert">
                        <div ng-message="required">
                          <span translate="data.cannot_null" translate-values="{name:'{{vm.translationData.campaignType}}'}"> </span>
                        </div>

                      </div>
                    </md-input-container>
                  </div>

                </div><!--row-->

                <div layout="row" class="date-row" ng-if="vm.ciscoType==0">

                  <div flex="50"
                    ng-show="vm.selected.type==1">

                      <md-input-container class="md-block">
                        <label translate="application.trigger.trigger"></label>
                        <md-select  ng-disabled="vm.selected.enabled && vm.createFormOr=='edit'" name="triggerId" required=""  ng-model="vm.selected.triggerId"
                                   placeholder="{{'generic.selectOneLabel'|translate:{name:vm.translationData.triggerId} }}" >
                          <md-option ng-value="trigger.directoryNumber" ng-repeat="trigger in vm.triggers">{{trigger.directoryNumber}}</md-option>
                        </md-select>
                        <div ng-messages="createForm.triggerId.$error" ng-show="createForm.triggerId.$touched"
                             role="alert">
                          <div ng-message="required">
                            <span translate="data.cannot_null" translate-values="{name:'{{vm.translationData.triggerId}}'}"> </span>
                          </div>

                        </div>
                      </md-input-container>
                  </div>

                  <div flex="5" ng-show="vm.selected.type==0">
                    <md-menu  class="regions"  ng-hide="vm.selected.enabled&& vm.createFormOr=='edit' ">
                      <md-button class="md-icon-button" aria-label="Label"
                                 ng-click="vm.labelTabIndex = 0;$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-font-icon="icon-trello"></md-icon>
                      </md-button>
                      <md-menu-content class="labels-menu-content" width="4">
                        <md-tabs md-selected="vm.labelTabIndex" md-dynamic-height>

                          <!-- SELECT LABEL -->
                          <md-tab>
                            <md-tab-body>
                              <md-tooltip><span translate="csq.csqs"></span></md-tooltip>
                              <md-menu-item>
                                <md-input-container  class="no-errors-spacer" md-no-float>
                                  <input  class="serInput" placeholder="{{'generic.searchFiled'|translate:{name:vm.translationData.csq} }}" type="text"
                                          ng-model="vm.csqSearchText" autocomplete="off"
                                          translate-attr-palceholder="SB.SEARCH_LABELS">
                                </md-input-container>
                              </md-menu-item>
                              <md-menu-divider></md-menu-divider>
                              <md-menu-item class="label " ng-repeat="label in vm.queues | filter: vm.filterCSQ" >
                                <md-button class="label-toggle-button" md-prevent-menu-close
                                           ng-click="vm.toggleInArray(label.id,  vm.selected.csqId)"
                                           aria-label="Toggle Label" translate
                                           translate-attr-aria-label="SB.TOGGLE_LABEL">
                                  <div layout="row" layout-align="space-between center">
                                    <span>{{label.name}}</span>
                                    <i ng-if="vm.exists(label.id, vm.selected.csqId)" class="icon-check s16"></i>
                                  </div>
                                </md-button>

                              </md-menu-item>

                            </md-tab-body>
                          </md-tab>
                          <!-- / SELECT LABEL -->
                        </md-tabs>
                      </md-menu-content>
                    </md-menu>
                  </div>

                  <div flex="45" ng-show="vm.selected.type==0">
                    <md-chips  disabled="true" name="csqId" class="label-chips" readonly="vm.createFormOr=='edit' && vm.selected.enabled"
                                   ng-model="vm.selected.csqId" md-autocomplete-snap
                                   md-require-match="true" placeholder="{{'generic.searchFiled'|translate:{name:vm.translationData.csq} }}" md-transform-chip="$chip.id">

                           <md-autocomplete
                             md-selected-item="vm.selectedCsq"
                             md-search-text="vm.csqSearchText"
                             md-items="label in vm.csqQuerySearch(vm.csqSearchText)"
                             md-item-text="label.name"
                             placeholder="{{'generic.addLabel'|translate:{name:vm.translationData.csq} }}">
                             <span md-highlight-text="vm.csqSearchText">{{label.name}}</span>
                           </md-autocomplete>
                           <md-chip-template class="member-chip">
                             <span>{{vm.csqName($chip)}} </span>
                           </md-chip-template>
                           <button md-chip-remove class="md-primary">
                             <md-icon md-font-icon="icon-close" class="s18"></md-icon>
                           </button>

                         </md-chips>
                  </div>

                </div><!--row-->

                <div ng-if="vm.ciscoType==0" layout="row" class="date-row">
                  <md-input-container flex="50" class="md-block">
                    <label translate="campaign.dialerType.dialerType"></label>
                    <md-select  ng-disabled="vm.createFormOr=='edit'" name="dialerType" required="" ng-model="vm.selected.dialerType"
                               placeholder="{{'generic.selectOneLabel'|translate:{name:vm.translationData.dialerType} }}" >
                      <md-option ng-value="dialerType.name" ng-repeat="dialerType in vm.dialerTypes">{{dialerType.nameTrans|translate}}</md-option>
                    </md-select>
                    <div ng-messages="createForm.dialerType.$error" ng-show="createForm.dialerType.$touched"
                         role="alert">
                      <div ng-message="required">
                        <span translate="data.cannot_null" translate-values="{name:'{{vm.translationData.dialerType}}'}"> </span>
                      </div>

                    </div>
                  </md-input-container>
                  <md-input-container ng-hide="vm.selected.dialerType=='DIRECT_PREVIEW'" flex="50" class="md-block">
                    <label for="" translate="campaign.callingNumber"></label>
                    <input type="text" ng-disabled="vm.selected.enabled && vm.createFormOr=='edit'"  name="callingNumber" min="1"
                           autocomplete="off" ng-model-options="{ debounce: 250 }" ng-pattern="/^[0-9]+$/"
                            max-length="3"
                           ng-model="vm.selected.callingNumber"
                           placeholder="{{'campaign.callingNumber'|translate}}"
                           >
                    <div ng-messages="createForm.callingNumber.$error" ng-show="createForm.callingNumber.$touched"
                         role="alert">
                      <div ng-message="pattern">
                        <span translate="data.onlyNumber" translate-values="{field:'{{'campaign.callingNumber'|translate}}'}"></span>
                      </div>
                    </div>
                  </md-input-container>
                </div><!--row-->

                <div layout="row" class="date-row">
                  <md-input-container flex="50" class="md-block">
                    <label translate="strategy.strategy"></label>
                    <md-select  ng-disabled="vm.selected.enabled && vm.createFormOr=='edit'" name="strategyId" required="" ng-model="vm.selected.strategyId"
                                placeholder="{{'generic.selectOneLabel'|translate:{name:vm.translationData.strategy} }}" >
                      <md-option ng-value="strategy.id" ng-repeat="strategy in vm.strategies">{{strategy.name|translate}}</md-option>
                    </md-select>
                    <div ng-messages="createForm.strategyId.$error" ng-show="createForm.strategyId.$touched"
                         role="alert">
                      <div ng-message="required">
                        <span translate="data.cannot_null" translate-values="{name:'{{vm.translationData.strategy}}'}"> </span>
                      </div>

                    </div>
                  </md-input-container>
                  <md-input-container ng-if="vm.ciscoType==0" flex="${{vm.selected.type==1?25:50}}" class="md-block">
                    <label translate="campaign.threshold"></label>
                    <input name="threshold" type="number" min="0" ng-min="0" max="10000" ng-max="10000" ng-model="vm.selected.threshold"/>
                    <div ng-messages="createForm.threshold.$error" ng-show="createForm.threshold.$touched"
                         role="alert">
                      <div ng-message="required">
                        <span translate="data.cannot_null" translate-values="{name:'{{vm.translationData.threshold}}'}"> </span>
                      </div>
                      <div ng-message="min"><span translate="data.filedShort"
                                                  translate-values="{field:'{{'campaign.threshold'|translate}}',number:0}"></span></div>
                      <div ng-message="min"><span translate="data.filedLarge"
                                                  translate-values="{field:'{{'campaign.threshold'|translate}}',number:10000}"></span></div>
                    </div>
                  </md-input-container>
                  <md-input-container ng-show="vm.selected.type==1 && vm.ciscoType==0" flex="25" class="md-block">
                    <label translate="campaign.ivrPorts"></label>
                    <input name="ivrPorts" type="number" min="0" ng-min="0" required max="2147483647" ng-max="2147483647" ng-model="vm.selected.ivrPorts"/>
                    <div ng-messages="createForm.ivrPorts.$error" ng-show="createForm.ivrPorts.$touched"
                         role="alert">
                      <div ng-message="required">
                        <span translate="data.cannot_null" translate-values="{name:'{{vm.translationData.ivrPorts}}'}"> </span>
                      </div>
                      <div ng-message="min"><span translate="data.filedShort"
                                                  translate-values="{field:'{{'campaign.ivrPorts'|translate}}',number:0}"></span></div>
                      <div ng-message="max"><span translate="data.filedLarge"
                                                  translate-values="{field:'{{'campaign.ivrPorts'|translate}}',number:10000}"></span></div>

                    </div>
                  </md-input-container>
                  <md-input-container ng-show="vm.ciscoType==1" flex="50" class="md-block">
                    <label translate="campaign.ucceCampaign"></label>
                    <md-select  ng-disabled="vm.createFormOr=='edit'" name="ucceCampaignId" required="" ng-model="vm.selected.ucceCampaignId"
                                placeholder="{{'generic.selectOneLabel'|translate:{name:vm.translationData.ucceCampaign} }}" >
                      <md-option ng-value="ucceCampaign.id" ng-repeat="ucceCampaign in vm.ucceCampaigns">{{ucceCampaign.name}}</md-option>
                    </md-select>
                    <div ng-messages="createForm.ucceCampaignId.$error" ng-show="createForm.ucceCampaignId.$touched"
                         role="alert">
                      <div ng-message="required">
                        <span translate="data.cannot_null" translate-values="{name:'{{vm.translationData.ucceCampaign}}'}"> </span>
                      </div>

                    </div>
                  </md-input-container>
                  <md-input-container ng-show="vm.ciscoType==0" flex="50" class="md-block">
                    <label translate="campaign.uccxCampaign"></label>
                    <md-select name="campaignData" required="" ng-model="vm.selected.campaignDataId"
                                placeholder="{{'generic.selectOneLabel'|translate:{name:vm.translationData.uccxCampaign} }}" >
                      <md-option ng-value="campaignData.id" ng-repeat="campaignData in vm.campaignDataList">{{campaignData.name}}</md-option>
                    </md-select>
                    <div ng-messages="createForm.campaignData.$error" ng-show="createForm.campaignData.$touched"
                         role="alert">
                      <div ng-message="required">
                        <span translate="data.cannot_null" translate-values="{name:'{{vm.translationData.uccxCampaign}}'}"> </span>
                      </div>

                    </div>
                  </md-input-container>
                </div><!--row-->

                <div layout="row" class="date-row" date-pair>
                  <div flex="50">
                    <md-input-container>
                      <label translate="easyAnnouncement.startTime"></label>
                      <input time-picker name="startTime" time-format="H:i"  class="time start" ng-model="vm.selected.startTime"   >
                      <div ng-messages="createForm.startTime.$error" ng-show="createForm.startTime.$touched" role="alert">
                        <div ng-message="required">
                          <span > <small translate="data.cannot_null" translate-values="{name:'{{'easyAnnouncement.startTime' | translate}}'}"></small></span>
                        </div>
                      </div>
                    </md-input-container>
                  </div>
                  <div flex="50">
                    <md-input-container>
                      <label translate="easyAnnouncement.endTime"></label>
                      <input time-picker name="endTime" time-format="H:i"  class="time end" ng-model="vm.selected.endTime"   >
                      <div ng-messages="createForm.endTime.$error" ng-show="createForm.endTime.$touched" role="alert">
                        <div ng-message="required">
                          <span > <small translate="data.cannot_null" translate-values="{name:'{{'easyAnnouncement.endTime' | translate}}'}"></small></span>
                        </div>
                      </div>
                    </md-input-container>
                  </div>
                </div><!--row-->

                <div layout="row" class="date-row">
                  <div ng-repeat="item in vm.weekly" class="standard" flex="20">
                    <md-checkbox ng-model="vm.selected.weekDays[item.id]"  ng-value="item.id">

                      {{ item.name }}
                    </md-checkbox>
                  </div>
                </div><!--row-->

      		</form>
    	</div>
	</md-content>
</div>
