<div id="preferenceSetting">
    <md-content class="content app-detail">

        <!-- / SIDENAV HEADER -->

        <!-- SIDENAV CONTENT -->


        <div class="file-details">

            <form name="createForm" class="md-inline-form">
                <md-toolbar class="md-accent md-hue-2 md-default-theme">
                    <div layout-align="space-between center" layout="row" class="md-toolbar-tools">
                        <span class="title">{{vm.createFormOr == 'edit'?'generic.update':'generic.create'|translate}}</span>
                        <span>
         <!-- ng-disabled="createForm.$invalid || createForm.$pristine" -->
         <button type="button" class="md-icon-button md-button md-ink-ripple" ng-click="vm.savePreferenceSetting(vm.selected)" aria-label="Save"><md-icon md-font-icon="icon-check" class="md-font material-icons"></md-icon><md-tooltip><span translate="generic.save"></span></md-tooltip>
                        </button>
                        </span>
                    </div>
                </md-toolbar>

                <div layout="row" layout-padding="">
                    <h1 translate="preferenceSetting.campaignSetting"></h1>
                </div>
                <div layout="row" layout-padding="">
                    <md-input-container flex="50" class="md-block">
                        <label for="" translate="preferenceSetting.campaignBatchSize"></label>
                        <input type="number" name="campaignBatchSize" min="1" ng-min="1" ng-model="vm.selected.campaignBatchSize" placeholder="{{'preferenceSetting.campaignBatchSize'|translate}}" required>
                        <div ng-messages="createForm.campaignBatchSize.$error" ng-show="createForm.campaignBatchSize.$touched" role="alert">
                            <div ng-message="required">
                                <span translate="data.cannot_null" translate-values="{name:'{{'preferenceSetting.campaignBatchSize'|translate}}'}"> </span>
                            </div>
                            <div ng-message="min"><span translate="data.filedShort" translate-values="{field:'{{'preferenceSetting.campaignBatchSize'|translate}}',number:1}"></span></div>
                            <div ng-message="max"><span translate="data.filedLarge" translate-values="{field:'{{'preferenceSetting.campaignBatchSize'|translate}}',number:100}"></span></div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-padding="">
                    <div flex="50">
                        <md-input-container class="md-block">
                            <label for="" translate="preferenceSetting.filePath"></label>
                            <input type="text" name="filePath" min="1" ng-pattern="/^\[a-zA-Z]:\/\/[a-zA-Z0-9_\/]+\w$/" ng-model="vm.selected.filePath" placeholder="{{'preferenceSetting.filePath'|translate}}" required>
                            <div ng-messages="createForm.filePath.$error" ng-show="createForm.filePath.$touched" role="alert">
                                <div ng-message="required">
                                    <span translate="data.cannot_null" translate-values="{name:'{{'preferenceSetting.filePath'|translate}}'}"> </span>
                                </div>
                                <div ng-message="pattern">
                                    <span translate="preferenceSetting.pathUrl" translate-values="{field:'{{'preferenceSetting.filePath'|translate}}'}"></span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="50">
                        <md-input-container class="md-block">
                            <label for="" translate="preferenceSetting.fileArchivePath"></label>
                            <input type="text" name="fileArchivePath" min="1" ng-pattern="/^\[a-bA-b]:\/\/[a-zA-Z0-9-_\/]+\w$/" ng-model="vm.selected.fileArchivePath" placeholder="{{'preferenceSetting.fileArchivePath'|translate}}" required>
                            <div ng-messages="createForm.fileArchivePath.$error" ng-show="createForm.fileArchivePath.$touched" role="alert">
                                <div ng-message="required">
                                    <span translate="data.cannot_null" translate-values="{name:'{{'preferenceSetting.fileArchivePath'|translate}}'}"> </span>
                                </div>
                                <div ng-message="pattern">
                                    <span translate="preferenceSetting.pathUrl" translate-values="{field:'{{'preferenceSetting.fileArchivePath'|translate}}'}"></span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <!--<div layout="row" layout-padding="">
                    <div flex="30">
                        <md-input-container class="md-block hidden">
                            <label for="" translate="preferenceSetting.domain"></label>
                            <input type="text" name="domain" min="1" ng-model="vm.selected.domain" placeholder="{{'preferenceSetting.domain'|translate}}" required>
                            <div ng-messages="createForm.domain.$error" ng-show="createForm.domain.$touched" role="alert">
                                <div ng-message="required">
                                    <span translate="data.cannot_null" translate-values="{name:'{{'preferenceSetting.domain'|translate}}'}"> </span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-input-container class="md-block">
                            <label for="" translate="preferenceSetting.username"></label>
                            <input type="text" name="username" min="1" ng-model="vm.selected.username" placeholder="{{'preferenceSetting.username'|translate}}" required>
                            <div ng-messages="createForm.username.$error" ng-show="createForm.username.$touched" role="alert">
                                <div ng-message="required">
                                    <span translate="data.cannot_null" translate-values="{name:'{{'preferenceSetting.username'|translate}}'}"> </span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-input-container class="md-block">
                            <label for="" translate="user.password"></label>
                            <input type="password" name="password" min="1" ng-model="vm.selected.password" placeholder="{{'preferenceSetting.password'|translate}}" required>
                            <div ng-messages="createForm.password.$error" ng-show="createForm.password.$touched" role="alert">
                                <div ng-message="required">
                                    <span translate="data.cannot_null" translate-values="{name:'{{'preferenceSetting.password'|translate}}'}"> </span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>-->

            </form>


        </div>
    </md-content>
</div>
